<div class="sidebar">
    <div class="nav flex-column">
        <a href="/" class="nav-link {{#if isHome}}active{{/if}}">
            <i class="fas fa-home"></i>
            <span>Trang chủ</span>
        </a>
        <a href="/transactions" class="nav-link {{#if isTransactions}}active{{/if}}">
            <i class="fas fa-exchange-alt"></i>
            <span>Giao dịch</span>
        </a>
        <a href="/statistics" class="nav-link {{#if isStatistics}}active{{/if}}">
            <i class="fas fa-chart-line"></i>
            <span>Thống kê</span>
        </a>
        <a href="/categories" class="nav-link {{#if isCategories}}active{{/if}}">
            <i class="fas fa-tags"></i>
            <span>Danh mục</span>
        </a>
       
    </div>
</div>
